body{
    background-color: lightgray;
    font-family: sans-serif;
}

.container{
    box-sizing: border-box;
    background-color: #fff;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px #a19b99;
}
.logo{
    display: block;
    margin: auto;
    width: 150px;
    border: 2px dotted gray;
    border-radius: 50%;
    
}
.title{
    margin: 20px auto;
    width: 200px;
    font-size: 30px;
    border-bottom: 5px lightgray solid;
    color: #545251;
}
.desc{
    color: #545251;
    font-size: 20px;
    text-align: center;
}
.socials{
    background-color: lightgray;
    text-align: center;
    height: 60px;
    
}

.socials img{
    margin-top: 10px;
    height: 40px; 
    border-radius: 50%
}